# Eclipse & Gradle
.metadata
.gradle
.settings
build

# Compiled class file
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# ——————— Whitelist ———————

# Allow Gradle Wrapper Jar
!gradle-wrapper.jar